/* CSS Reset values */
html {
	box-sizing: border-box;
	font-size: 16px;
	color-scheme: dark;
	background-color: #222831;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-family: "Poppins", sans-serif;
	font-size: clamp(2vh ,3vh, 5vh );
}

ol,
ul {
	list-style: none;
}

img {
	width: min(10%, 130px);
	height: auto;
}

/* Custom CSS Values */
a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	box-shadow: 0px 0px 10px #b5fff5;
	text-shadow: 0px 2px 10px #b5fff5;
	background-color: rgb(113 201 206 / 10%);
}

/* Parent containers */
header {
	margin-top: 0;
	margin-inline: auto;
	margin-bottom: 5rem;
	width: fit-content;
	font-size: 1.3em;
	letter-spacing: 0.09em;
}

.main-container {
	/* display: flex;
	flex-direction: column;
	flex-wrap: nowrap; */
	min-width: 60rem;
	margin-top: 4rem;
	max-width: 75%;
	margin-inline: auto;
}

.containerHeader {
	background-image: linear-gradient(180deg, #2878ad, #33ffcb6b 150%);
	border-radius: 15px 15px 0 0;
}

#containerHeader2 {
	background-image: linear-gradient(180deg, rgb(8 131 66 / 68%), rgb(51 255 203 / 10%) 150%);
}

.subHeaderRows {
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-around;
	align-items: center;
}

.headerPara {
	font-weight: 400;
	font-size: large;
}

#progress-container {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	width: max(40%, 276px);
}

progress {
	height: 1.5rem;
	width: max(70%, 180px);
	margin-right: 5px;
}

/* Subheader2 Lower Header row */
#subHeader2 {
	padding-block: 1rem;
	outline: 1px solid black;
}

#solved-div {
	width: max(9.5%, 8.5%);
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
}

#solved-color {
	width: 15px;
	height: 15px;
	background-color: rgb(0, 183, 0);
	border-radius: 4px;
}

.button {
	font-size: 18px;
	letter-spacing: 0.08em;
	height: 50px;
	width: 150px;
	border-radius: 12px;
	box-shadow: 4px 3px 4px #0000008c;
	background-color: #3282b8;
	border: transparent solid 1px;
	cursor: pointer;
	outline: 1px solid rgb(255 255 255 / 50%);
}

#button2 {
	background-color: rgb(23 157 87);
}

/* Main Content boxes */
.no-display {
	display: none;
}

.show-text::after {
	content: "Show";
	/* color: white; */
}

.hide-text::after {
	content: "Hide";
	/* color: white; */
}

.content-div-parent {
	transition: max-height 1s ease;
}

.main-content {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
	align-content: space-around;
	align-items: center;
	padding-block: 2rem;
	background-image: linear-gradient(360deg, rgb(40 120 173 / 0%), rgb(45 160 170) 150%);
	border-radius: 0 0 30px 30px;
}

.contentBox {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	width: max(225px, 20vw);
	height: max(125px, 85px);
	background-color: #71c9ce40;
	margin: 0.75rem 0.5rem;
	border-radius: 10px;
	font-weight: 500;
}

/* 2nd Header main content borders */
#content-div2 {
	border-radius: 0 0 15px 15px;
	background-image: linear-gradient(360deg, rgb(8 131 66 / 68%), rgb(51 255 203 / 10%) 130%);
}
